#footer .social-widget .blog {
    background: #008000;
  }

#footer .social-widget .instagram {
    background: #c13584;
  }

.fa.fa-instagram {
color: #ffffff;
}

.navbar-brand img {
    max-height: 40px; /* helps ensure no overflow */
    height: 3.8vw;
    width: auto;
}

/* Mobile */
@media (max-width: 767px) {
    .navbar-brand img {
      max-height: 40px; /* helps ensure no overflow */
      height: 8vw;
      width: auto;
    }
}


.timeline-heading-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#timeline {
    /* padding: 50px 0 80px 0; */
    background: #ffffff;
    color: #cccccc;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
}

/*-- Story css Start --*/
.img-responsive {
    align-items: center;
}

.wd_story_wrapper{
    padding: 50px 0 80px 0;
    float:left;
    width:100%;
    background-image:url(../images/star.jpg);
    background-size:cover;
    background-position:100% 100%;
    background-repeat:no-repeat;
    position: relative;
    z-index:0;
}
.wd_overlay{
    content: "";
    position: absolute;
    /* background-image: url(../images/star.jpg); */
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
.wd_story_wrapper .wd_heading h1{
    color:#ffffff;
    text-align: center;
}
.wd_story_covers{
    float:left;
    width:100%;
    position:relative;
}
.wd_story_line{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    width: 2px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    height: 100%;
}
.wd_story_covers_box_left{
    float: left;
    width: 510px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 50px 0px 50px 50px;
    -moz-border-radius: 50px 0px 50px 50px;
    border-radius: 50px 0px 50px 50px;
    position: relative;
    margin: 50px 0px 150px 0px;
}
.wd_story_covers_box_left:after{
    content: "";
    position: absolute;
    right: -35px;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 35px solid rgba(255, 255, 255, 0.1);
    border-bottom: 25px solid transparent;
}
.wd_story_covers_box_right .wd_story_dot{
    left:-75px;
    right:auto;
}
.wd_story_dot{
    position: absolute;
    right: -75px;
    top: 30px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}
.wd_story_dot span{
    background-color: #d2332d;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0px auto;
}
.wd_story_covers_box_right{
    float: right;
    width: 510px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 0px 50px 50px 50px;
    -moz-border-radius: 0px 50px 50px 50px;
    border-radius: 0px 50px 50px 50px;
    position: relative;
    margin: 150px 0px 50px 0px;
}
.wd_story_covers_box_right:after{
    content: "";
    position: absolute;
    left: -35px;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 35px solid rgba(255, 255, 255, 0.1);
    border-bottom: 25px solid transparent;
}
.wd_story_covers_box_right .wd_story_covers_box_img{
    float:right;
}
.wd_story_covers_box_img{
    float:left;
    width:220px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
}
.wd_story_covers_box_img img{
    display:inline-block;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
}
.wd_story_covers_box_right .wd_story_covers_box_datails{
    float:left;
}
.wd_story_covers_box_datails{
    float: right;
    width: calc(100% - 220px);
    padding: 35px 30px 30px 35px;
    -webkit-border-radius: 0px 0px 50px 50px;
    -moz-border-radius: 0px 0px 50px 50px;
    border-radius: 0px 0px 50px 50px;
}
.wd_story_covers_box_datails span{
    float:left;
    width:100%;
    font-size:16px;
    color:#ffe400;
    text-transform:uppercase;
}
.wd_story_covers_box_datails h1{
    float: left;
    width: 100%;
    font-size: 30px;
    color: #ffffff;
    text-transform: capitalize;
    margin: 12px 0px;
}
.wd_story_covers_box_datails p{
    float:left;
    width:100%;
    color:#ffffff;
    margin-bottom:0px;
    margin-top:15px;
}


/* Animated */
/*-- Responsive css Start --*/
@media (max-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1199px) {

.wd_logo {
    padding-top: 39px;
}
.wd_main_menu ul li a {
    padding: 50px 8px;
}
.menu_fixed .wd_main_menu ul li a {
    padding: 30px 8px;
}
.wd_header_wrapper .wd_btn {
    padding-left: 30px;
}
.menu_fixed .wd_logo {
    padding-top: 24px;
}
.wd_guest_infobox {
    padding: 30px 0px 30px 0px;
}
.wd_guest_form {
    padding: 45px 30px;
}
.wd_footer_infobox p {
    padding: 0px 20px;
}
.wd_family_tabbox ul.nav:after {
    width: 90%;
}
.wd_family_tabbox .tab-content:after {
    width: 90%;
}
.wd_slider_textinfo {
    padding: 150px 0px 150px 150px;
}
.wd_about_infobox_date {
    padding: 65px 20px;
}
.wd_story_covers_box_left {
    width: 410px;
}
.wd_story_covers_box_img {
    width: 100%;
}
.wd_story_covers_box_img img {
    width: 100%;
}
.wd_story_covers_box_datails {
    width: 100%;
    padding: 35px;
}

}
@media (min-width: 768px) and (max-width: 1310px) {
.wd_main_menu ul {
    width: 100%;
    text-align: center;
}
.wd_main_menu ul li {
    float: none;
    display: inline-block;
}
.wd_main_menu ul li a {
    padding: 30px 10px;
    font-size: 16px;
}
.wd_logo {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.wd_header_wrapper .wd_btn {
    margin-top: 0px;
    padding-left: 0px;
}
.menu_fixed .wd_main_menu ul li a {
    padding: 23px 10px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.wd_slider_textinfo {
    padding: 100px 0px 100px 0px;
}
#clockdiv > div {
    margin: 30px 10px;
}
.wd_story_line {
    display: none;
}
.wd_story_dot {
    display: none;
}
.wd_story_covers_box_left:after{
	display:none;
}
.wd_story_covers_box_left {
    width: 100%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: 50px 0px 0px 0px;
}
.wd_story_covers_box_right:after{
	display:none;
}
.wd_story_covers_box_right {
    width: 100%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: 50px 0px 0px 0px;
}
.wd_guest_formbox {
    width: 100%;
}
.wd_blog_info {
    padding-top: 0px;
}
.wd_blog_info h3 {
    margin-top: 10px;
}
.wd_footer_infobox p {
    padding: 0px 0px;
}
.wd_footer_section {
    text-align: center;
}
.wd_footer_section img {
    float: none;
    display: inline-block;
    margin-top: 25px;
}
.wd_footer_section p {
    width: 100%;
    padding-top: 30px;
}
.wd_gallery_slide {
    margin-bottom: 16px;
}
.ast_glr_overlay {
    padding: 0px 20px 20px 20px;
}
.ast_glr_overlay p {
    font-size: 18px;
}
.wd_footer_bottom_wrapper{
    padding-left: 0px;
    padding-right: 0px;
}

}

@media (max-width: 767px) {

.wd_menu_btn{
    display: block;
    float: none;
    position: absolute;
    top: 35px;
    right: 15px;
    border: none;
    width: 40px;
    height: 30px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 3px;
	background-color: #ffe400;
}
.wd_menu_btn:hover, .wd_menu_btn:focus{
	outline:none;
	border:none;
	box-shadow:none;
	text-shadow:none;
}
.wd_main_menu_wrapper{
	z-index: 2;
	position:fixed;
    left: 0px;
    top: 0px;
	bottom:0px;
	-webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
	background-color: #ffe400;
}
.wd_main_menu_wrapper {
    width: 300px;
}
.wd_main_menu_wrapper.wd_main_menu_hide{
	-webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.wd_main_menu ul {
    width: 100%;
}
.wd_main_menu ul li {
    width: 100%;
}
.wd_main_menu ul li a {
	width: 100%;
    text-align: left;
    margin: 0;
    border-radius: 0px;
    border: 0px;
	padding:15px;
	color:#ffffff;
}
.wd_main_menu ul li a:hover, .wd_main_menu ul li a.active {
    border: 0px;
	background-color:#ffffff;
	color:#ffe400;
}
.menu_fixed .wd_main_menu ul li a {
    padding: 15px;
}
.wd_header_wrapper .wd_btn {
    padding-left: 0px;
}
.wd_logo {
    padding: 20px 0px;
	text-align: left;
}
.wd_slider_textinfo {
    width: 70%;
    padding: 50px 0px 50px 0px;
}
.wd_story_line {
    display: none;
}
.wd_story_dot {
    display: none;
}
.wd_story_covers_box_left:after{
	display:none;
}
.wd_story_covers_box_left {
    width: 100%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: 50px 0px 0px 0px;
}
.wd_story_covers_box_right:after{
	display:none;
}
.wd_story_covers_box_right {
    width: 100%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: 50px 0px 0px 0px;
}
.wd_guest_formbox {
    width: 100%;
}
.wd_footer_infobox p {
    padding: 0px 0px;
}
.wd_footer_section {
    text-align: center;
}
.wd_footer_section img {
    float: none;
    display: inline-block;
    margin-top: 25px;
}
.wd_footer_section p {
    width: 100%;
    padding-top: 30px;
}
.wd_gallery_slide {
    margin-bottom: 16px;
}
.ast_glr_overlay {
    padding: 0px 20px 20px 20px;
}
.ast_glr_overlay p {
    font-size: 18px;
}
.wd_footer_bottom_wrapper{
    padding-left: 0px;
    padding-right: 0px;
}

}

@media (min-width: 480px) and (max-width: 767px) {}

@media (max-width: 480px) {}

@media (max-width: 479px) {
.wd_slider_textinfo {
    width: 100%;
}
.wd_about_infobox_date {
    padding: 15px 0px;
}
.wd_about_infobox_date p {
    padding: 0px 0px;
}
.wd_story_covers_box_img {
    width: 100%;
}
.wd_story_covers_box_img img {
    width: 100%;
}
.wd_story_covers_box_datails {
    width: 100%;
    padding: 25px 15px 25px 15px;
}
.wd_event_infobox span {
    padding: 0px 0px;
}
.wd_event_infobox img {
    width: 100%;
}
.wd_guest_infobox h2 {
    line-height: 46px;
}
.wd_guest_formbox span {
    font-size: 22px;
}
.wd_guest_form {
    padding: 35px 15px;
}
.wd_heading h1 {
    font-size: 24px;
}
.wd_family_tabbox ul.nav:after {
    width: 90%;
}
.wd_family_tabbox .tab-content:after {
    width: 90%;
}
.wd_about_infobox_img:before {
    height: 120px;
    width: 235px;
}
.wd_about_infobox_img:after {
    height: 120px;
    width: 235px;
}
.wd_slider_textinfo h1 {
    font-size: 24px;
}
.ast_glr_overlay {
    padding: 0px 10px 20px 10px;
}

}

@media (max-width: 380px) {
.wd_main_menu_wrapper {
    width: 190px;
}
}
@media (min-width: 991px) and (max-width: 1199px){
	.wd_story_covers_box_right{width:410px;}
}
/*-- Responsive css End --*/