/* --------------------------------------
  8. why-us
-----------------------------------------*/
.why-us .content-box {
    margin: 20px auto;
    padding: 15px 15px 0 15px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

.why-us .why-us-img {
    width: 100%;
    height: 100%;
    background: url("../img/why-us-icon.png")no-repeat center;
    background-size: contain;
}

.why-us .content-box-icon i {
    width: 120px;
    height: 120px;
    line-height: 120px;
    display: inline-block;
    font-size: 5rem;
    text-align: center;
    color: #fff;
    background: url("../img/why-us-icon.png")no-repeat center;
    background-size: cover;
    position: relative;
}

.why-us .content-box:hover i {
    /* background: #ffe400; */
    background: #d2332d;
    color: #fff;
    -webkit-transition: all .7s ease 0s;
    transition: all .7s ease 0s;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.why-us .content-box h5 {
    font-weight: 400;
    font-size: 22px;
    margin: 20px;
}